@model WebApplicationAseguradorasB.Models.tbl_Aseguradoras

@{
    //ViewBag.Title = "Edit";
    ViewBag.Title = "Editar";
}

@*<h2>Edit</h2>*@
<h2>Editar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @*<h4>tbl_Aseguradoras</h4>*@
        <h4>Aseguradoras</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.aseg_IdAseguradoraPk)

        <div class="form-group">
            @Html.LabelFor(model => model.aseg_NombreAseguradora, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.aseg_NombreAseguradora, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.aseg_NombreAseguradora, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="submit" value="Save" class="btn btn-default" />*@
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Volver", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
